body {
    margin: 0;
}

@font-face {
    font-family: YesevaOne-Regular;
    src: url("../fonts/YesevaOne-Regular.ttf");
}
@font-face {
    font-family: MullerBold;
    src: url("../fonts/MullerBold.ttf");
}
@font-face {
    font-family: MullerMedium;
    src: url("../fonts/MullerMedium.ttf");
}
@font-face {
    font-family: MullerMediumItalic;
    src: url("../fonts/MullerMediumItalic.ttf");
}
@font-face {
    font-family: MullerRegular;
    src: url("../fonts/MullerRegular.ttf");
}
@font-face {
    font-family: MullerRegularItalic;
    src: url("../fonts/MullerRegularItalic.ttf");
}

/*#wrapper {*/
/*    min-height: 100%;*/
/*    display: grid;*/
/*    grid-template: minmax(70px, auto) 1fr minmax(100px, auto) / 1fr;*/
/*    grid-template-areas:*/
/*            "header"*/
/*            "info-container"*/
/*            "blocks"*/
/*            "footer-container";*/
/*}*/

.logo {
    text-align: center;
    color: #996e1c;
    padding: 50px 0;
    border-bottom: 1px solid #ebe1cf;
}

.logo .logo-name {
    font-family: YesevaOne-Regular, sans-serif;
    font-size: 30px;
    margin: 0;
}

.logo .logo-info {
    font-family: MullerRegular, sans-serif;
    font-size: 11px;
    margin-top: 14px;
}

#header {
    font-family: MullerMedium, sans-serif;
    padding: 30px 0;

    grid-area: header;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 520px) 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

#header-menu {
    grid-column: 2 / 3;
}

#header-menu a {
    font-size: 12px;
    color: #996e1c;
    text-decoration: none;
    margin-right: 50px;
}

#header-menu a:hover {
    color: #e6a936;
}

#header-menu a:last-child {
    margin-right: 0;
}

#image {
    background-image: url("../images/analise-benevides-gWedi4SWsHQ-unsplash.png");
    background-position: center;
    background-size: cover;
    height: 800px;
}

#info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 130px 0;
}

#info-container {
    grid-area: info-container;
    display: grid;
    grid-template-columns: 588px 1fr 1fr;
    grid-column-gap: 24px;
    align-items: end;
}

#info-container-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
}

#info-title {
    font-size: 45px;
    font-family: YesevaOne-Regular, sans-serif;
    color: rgb(153, 110, 28);
    line-height: 1.222;
    max-width: 585px;
    margin: 0;
}

#info-text {
    font-size: 15px;
    font-family: MullerRegular, sans-serif;
    color: rgb(153, 110, 28);
    line-height: 1.333;
    max-width: 490px;
    margin-top: 50px;
}

.info-items {
    margin-top: 45px;
}

.info-items .info-item-star {
    display: inline-block;
    vertical-align: middle;
    color: #dc9229;
    width: 21px;
    height: 21px;
    margin-right: 11px;
}

.info-items .info-item-star:hover {
    color: #a17013;
}

.info-items .info-item-title {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    font-family: MullerBold, sans-serif;
    color: rgb(153, 110, 28);
    line-height: 1.111;
}

.info-items .info-item-text {
    font-size: 15px;
    font-family: MullerRegular, sans-serif;
    color: rgb(153, 110, 28);
    line-height: 1.333;
    width: 283px;
    margin-top: 12px;
}

#info-image {
    display: none;
}

#examples {
    background-color: #faf7f2;
}

#examples-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0 85px;
    font-size: 0;
}

#examples-title {
    font-size: 45px;
    font-family: YesevaOne-Regular, sans-serif;
    color: rgb(153, 110, 28);
    line-height: 1.222;
    margin: 0;
}

#blocks {
    grid-area: blocks;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 24px;
}

.example-image {
    margin-top: 60px;
    font-size: 0;
}

.example-text {
    font-family: MullerMediumItalic, sans-serif;
    font-size: 18px;
    color: #c5b698;
    margin-top: 20px;
}

#footer {
    background-color: #f1d2bd;
}

#footer-container {
    max-width: 1200px;
    margin: 0 auto;

    grid-area: footer-container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

#icon .icons {
    display: inline-block;
    vertical-align: middle;
    fill: #996e1c;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#icon .icons:hover {
    fill: #4e390f;
}

#footer-container .logo {
    padding: 27px 0;
}

#footer-copyright {
    font-family: MullerRegularItalic, sans-serif;
    font-size: 11px;
    color: #af8744;
    justify-self: end;
}

#burger {
    display: none;
}

















